
.table {
  margin: 0 2rem;
  width: 95%;
  border-spacing: 0px;
  border-collapse: collapse;
  border: 2px solid black;
  font-family: 'Times New Roman';

  &-row {
    background-color: #E0FFFF;
  }
  
  &-row:nth-child(even) {
    background-color: #FFFFE0;
  }
}

.table th {
  font-size: 13px;
  font-weight: bold;  
  text-align: center;
  text-transform: uppercase;
  background-color: #2F4F4F;
  color: #FFFAF0;
  padding: 8px;
  height: 32px;
  border: 2px solid black;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 10;
}

.table td {
  max-width: 160px;
  font-size: 11px;
  text-align: left;
  padding: 6px;
  word-break: normal;
  word-wrap: break-word;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.text-transform-capitalize {
  text-transform: capitalize;
}

.text-align-center {
  text-align: center !important;
}

.labels {
  width: fit-content;
  border-radius: 2px;
  padding: 2px;
  margin: 4px 4px 0 0 ;

  &-div {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
